{% extends "base.html" %}


{% block tittre %}
    Ajouter un article
{% endblock %}


{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home') }}">Page d'accueil</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Se déconnecter</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}


{% block main %}
<form method="POST" enctype="multipart/form-data">
    <div class="card text-center p-3">
        <div class="card-header">
            <h3>Ajouter un nouveau article</h3>
        </div>
        <div class="card-body ">
          <div class="input-group mb-3 my-5">
              <input type="text" class="form-control m-2" placeholder="Le nom de l'article :" name="article_name" required>
              <input type="text" class="form-control m-2" placeholder="Le nom de l'entreprise :" name="company_name" required>
          </div>
          <div class="input-group mb-3 my-5">
              <input type="url" class="form-control " placeholder="Le lien de l'article :" name="article_url" required>
          </div>
          <div class="input-group mb-3 my-5">
              <input type="number" class="form-control m-2" placeholder="Le prix de l'article :" name="article_price" required>
              <input type="file" class="form-control m-2" name="article_img" accept="image/png, image/jpeg" required>
          </div>
        </div>
        <div class="card-footer ">
          <div class="mx-auto">
              <input type="submit" class="btn btn-primary btn-lg" value="Ajouter l'article" ></input>
          </div>
        </div>
    </div>
</form>

    
{% endblock %}


{% block foorter %}
{% endblock %}