{% extends "base.html" %}


{% block tittre %}
    Modifer un article
{% endblock %}


{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home') }}">Page d'accueil</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Se déconnecter</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}


{% block main %}
<form method="POST" enctype="multipart/form-data">
    <div class="card text-center p-3">
        <div class="card-header">
            <h3>Modifer l'article</h3>
        </div>
        <div class="card-body ">
            <input type="hidden" name="article_id" value="{{ data['id'] }}">
            <div class="input-group mb-3 my-5 image-to-edit"><img style="height: 250px; width: 250px;" src="{{ url_for('static', filename='images/'+data['img'])  }}" class="rounded mx-auto d-block" alt="{{ data['img'] }}"></div>
          <div class="input-group mb-3 my-5">
              <input type="text" class="form-control m-2" value="{{ data['name'] }}" placeholder="Le nom de l'article :" name="article_name" required>
              <input type="text" class="form-control m-2" value="{{ data['company'] }}" placeholder="Le nom de l'entreprise :" name="company_name" required>
          </div>
          <div class="input-group mb-3 my-5">
              <input type="url" class="form-control " value="{{ data['url'] }}" placeholder="Le lien de l'article :" name="article_url" required>
          </div>
          <div class="input-group mb-3 my-5">
              <input type="text" class="form-control m-2" value="{{ data['price'] }}" placeholder="Le prix de l'article :" name="article_price" required>
              <input type="file" class="form-control m-2" value="{{ url_for('static', filename='images/'+data['img'])}}" name="article_img" accept="image/png, image/jpeg" required>
          </div>
        </div>
        <div class="card-footer ">
          <div class="mx-auto">
              <input type="submit" class="btn btn-primary btn-lg" value="Sauvegarder les modifications"></input>
              <a class="btn btn-primary btn-lg" href="{{ url_for('home') }}">Annuler</a>
          </div>
        </div>
    </div>
</form>

    
{% endblock %}


{% block foorter %}
{% endblock %}