{% extends "base.html" %}
{% block tittre %}Page d'accueil{% endblock %}
{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if role == "admin" %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('add_article') }}">Ajouter un article</a>
                </li>
                {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('liste_favored') }}">Liste de favorie</a>
                </li>
                {% endif %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Se déconnecter</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" method="POST">
                <input class="form-control mr-sm-2" type="search" placeholder="Le nom de l'entreprise" name="home_search" >
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
{% endblock %}


{% block main %}
    <div class="row mt-5">
        {% for prod in data %}
            <div class="col-sm-2 box">
                <div class="card costum-row box">
                    <img src=" {{ url_for('static', filename='images/'+prod['img'])  }}" alt="{{ prod['name'] }}">
                    <p class="prod-name text-center">{{ prod['name'] }}</p>
                    <p class="prod-company text-center">{{ prod['company']  }}</p>
                    <p class="prod-price text-center">{{ prod['price'] }}</p>
                    {% if role == "admin" %}
                        <a class="prod-link btn btn-primary btn-sm mb-3" href="{{ url_for('delete_article', id=prod['id']) }}">Supprimer l'article</a>
                        <a class="prod-link btn btn-primary btn-sm mb-3" href="{{ url_for('edit_article', id=prod['id']) }}">Modifier l'article</a>
                    {% else %}
                        <a href="{{ prod['url'] }}" class="prod-link btn btn-primary btn-sm mb-3" href="{{ url_for('edit_article', id=prod['id']) }}">Acheter</a>
                        <a href="{{ url_for() }}" class="prod-link btn btn-primary btn-sm mb-3">Ajouter au favorie</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}










{% block footer %}
{% endblock %}