{% extends "base.html" %}


{% block tittre %}
    Liste de favorie
{% endblock %}


{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('home') }}">Page d'accueil</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">Se déconnecter</a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}


{% block main %}
<div class="row mt-5">
    {% for i in data %}
        <div class="col-sm-2">
            <div class="card costum-row">
                <img src=" {{ url_for('static', filename='images/'+i['img'])  }}" alt="{{ i['name'] }}">
                <p class="prod-name text-center">{{ i['name'] }}</p>
                <p class="prod-company text-center">{{ i['company']  }}</p>
                <p class="prod-price text-center">{{ i['price'] }}</p>
                <a href="{{ i['url'] }}" class="prod-link btn btn-primary btn-sm mb-3">Acheter</a>
                <a href="{{ i['url'] }}" class="prod-link btn btn-primary btn-sm mb-3">Supprimer de la liste</a>
            </div>
        </div>
    {% endfor %}
</div>
    
{% endblock %}


{% block foorter %}
{% endblock %}