{% extends "base.html" %}

{% block tittre %}{{ title }}{% endblock %}


{% block header %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('index') }}">SE CONNECTER<span class="sr-only"></span></a>
                </li>
            </form>
        </div>
    </nav>
{% endblock %}


{% block main %}
    <div class="container">
        <section id="cover" class="min-vh-100">
            <div id="cover-caption">
                <div class="container">
                    <div class="row text-white">
                        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                            <h2 class="py-2 text-truncate">Créez un nouveau compte</h2>
                            <div class="px-2">
                                <form class="justify-content-center" method="POST">
                                    <div class="form-group">
                                        <input type="text" name="full_name"  class="form-control" placeholder="Nom compléter :"required>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="email" class="form-control" placeholder="Email :" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password1" class="form-control" placeholder="Mot de passe :" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password2" class="form-control" placeholder="Confirmer votre mot de passe :" required>
                                    </div>
                                    <input type="submit" class="btn btn-primary btn-lg" value="SIGN UP" ></input>
                                </form class=>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>    
    </div>
{% endblock %}


{% block footer %}
{% endblock %}